# ----------------------------
# Sanal ortam (Python venv)
# ----------------------------
env/
venv/

# ----------------------------
# Python cache
# ----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ----------------------------
# Pytest cache
# ----------------------------
.pytest_cache/

# ----------------------------
# VSCode ayarları
# ----------------------------
.vscode/

# ----------------------------
# Log ve geçici dosyalar
# ----------------------------
*.log
temp/
